/*
Script para crear las tablas de la base de datos DBIncidencias_crimenes_LA
ESTUDIO SOBRE EL COMPORTAMIENTO CRIMINAL EN LA 
CIUDAD DE LOS ÁNGELES - CALIFORNIA DESDE 2020 HASTA 2024 
Isaac Amín Sofán Hernández, José Luis Córdoba Roldán
*/
USE [DBIncidencias_crimenes_LA]
GO
/****** Object:  Table [dbo].[crimes]    Script Date: 11/06/2024 09:24:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[crimes](
	[ID] [float] NULL,
	[RegisterID] [float] NULL,
	[Date] [datetime] NULL,
	[Time] [float] NULL,
	[AreaID] [float] NULL,
	[AreaName] [nvarchar](255) NULL,
	[CrimeID] [float] NULL,
	[CrimeName] [nvarchar](255) NULL,
	[CrimeSceneID] [float] NULL,
	[CrimeSceneName] [nvarchar](255) NULL,
	[WeaponUsedID] [float] NULL,
	[WeaponUsedName] [nvarchar](255) NULL,
	[VictimAge] [float] NULL,
	[VictimSex] [nvarchar](255) NULL,
	[VictimDescent] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimension_area]    Script Date: 11/06/2024 09:24:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimension_area](
	[AreaID] [int] NOT NULL,
	[AreaName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_dimension_area] PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimension_crime]    Script Date: 11/06/2024 09:24:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimension_crime](
	[CrimeID] [int] NOT NULL,
	[CrimeName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_dimension_crime] PRIMARY KEY CLUSTERED 
(
	[CrimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimension_crimescene]    Script Date: 11/06/2024 09:24:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimension_crimescene](
	[CrimeSceneID] [int] NOT NULL,
	[CrimeSceneName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_dimension_crimescene] PRIMARY KEY CLUSTERED 
(
	[CrimeSceneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimension_victim]    Script Date: 11/06/2024 09:24:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimension_victim](
	[ID] [int] NOT NULL,
	[VictimAge] [int] NOT NULL,
	[VictimSex] [varchar](50) NOT NULL,
	[VictimDescent] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dimension_victim] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimension_weaponused]    Script Date: 11/06/2024 09:24:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimension_weaponused](
	[WeaponUsedID] [int] NOT NULL,
	[WeaponUsedName] [varchar](100) NOT NULL,
 CONSTRAINT [PK_dimension_weaponused] PRIMARY KEY CLUSTERED 
(
	[WeaponUsedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hecho_crimesla]    Script Date: 11/06/2024 09:24:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hecho_crimesla](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VictimID] [int] NOT NULL,
	[RegisterID] [int] NOT NULL,
	[AreaID] [int] NOT NULL,
	[CrimeID] [int] NOT NULL,
	[CrimeSceneID] [int] NOT NULL,
	[WeaponUsedID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [int] NOT NULL,
 CONSTRAINT [PK_hecho_crimesla] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hecho_crimesla]  WITH CHECK ADD  CONSTRAINT [FK_hecho_crimesla_dimension_area] FOREIGN KEY([AreaID])
REFERENCES [dbo].[dimension_area] ([AreaID])
GO
ALTER TABLE [dbo].[hecho_crimesla] CHECK CONSTRAINT [FK_hecho_crimesla_dimension_area]
GO
ALTER TABLE [dbo].[hecho_crimesla]  WITH CHECK ADD  CONSTRAINT [FK_hecho_crimesla_dimension_crime] FOREIGN KEY([CrimeID])
REFERENCES [dbo].[dimension_crime] ([CrimeID])
GO
ALTER TABLE [dbo].[hecho_crimesla] CHECK CONSTRAINT [FK_hecho_crimesla_dimension_crime]
GO
ALTER TABLE [dbo].[hecho_crimesla]  WITH CHECK ADD  CONSTRAINT [FK_hecho_crimesla_dimension_crimescene] FOREIGN KEY([CrimeSceneID])
REFERENCES [dbo].[dimension_crimescene] ([CrimeSceneID])
GO
ALTER TABLE [dbo].[hecho_crimesla] CHECK CONSTRAINT [FK_hecho_crimesla_dimension_crimescene]
GO
ALTER TABLE [dbo].[hecho_crimesla]  WITH CHECK ADD  CONSTRAINT [FK_hecho_crimesla_dimension_victim] FOREIGN KEY([VictimID])
REFERENCES [dbo].[dimension_victim] ([ID])
GO
ALTER TABLE [dbo].[hecho_crimesla] CHECK CONSTRAINT [FK_hecho_crimesla_dimension_victim]
GO
ALTER TABLE [dbo].[hecho_crimesla]  WITH CHECK ADD  CONSTRAINT [FK_hecho_crimesla_dimension_weaponused] FOREIGN KEY([WeaponUsedID])
REFERENCES [dbo].[dimension_weaponused] ([WeaponUsedID])
GO
ALTER TABLE [dbo].[hecho_crimesla] CHECK CONSTRAINT [FK_hecho_crimesla_dimension_weaponused]
GO
